<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application>
		<receiver
			android:name=".DebugAuthReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="org.chibidon.INJECT_AUTH" />
			</intent-filter>
		</receiver>
	</application>

</manifest>
